<div class="brand-bar">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="brand-bar">
        <p class="brand" href="#">monkeytrip</p>
      </div>
    </div>
  </div>
</div>
<div class="style-bar">
  <div class="search-location">
    <input id="place" type="textbox" class="span2" onkeypress="placeMarker(event)" placeholder="City">
    <button type="submit" class="btn-success" onclick="placeMarker(event)">Buscar</button>
  </div>
</div>

<div class="navbar">
  <%#<div class="navbar-inner">%>
    <%#<div class="brand-bar">%>
      <%#<p class="brand" href="#">monkeytrip</p>%>
    <%#</div>%>
    <%#<div class="style-bar">%>
      <%#<div class="search-location">%>
        <%#<input id="place" type="textbox" class="span2" onkeypress="placeMarker(event)" placeholder="City">%>
        <%#<button type="submit" class="btn-success" onclick="placeMarker(event)">Buscar</button>%>
      <%#</div>%>
    <%#</div>%>
  <%#</div>%>
  <div class="navbar-inner3 navbar-fixed-bottom">
    <form class="navbar-form pull-left">
      <input type="text" class="span2" placeholder="juan@ejemplo.com">
      <button type="submit" class="btn-success">Email</button>
    </form>
  </div>
</div>
<section id="container">
  <div id="map"></div>
  <%= render partial: "/layouts/modal" %>
</section>
