 <div class="navbar">
      <div class="navbar-inner">
        <p class="brand" href="#">monkeytrip</p>       
      </div>
    </div>
    <div class="navbar">
      <div class="navbar-inner2">
      <form class="navbar-form pull-left">
        <input type="text" class="span2">
        <button type="submit" class="btn btn-primary">Trip!</button>
      </form>
    </div>
    </div>
    <div class="navbar">
      <div class="navbar-inner3">
      <form class="navbar-form pull-left">
        <input type="text" class="span2">
        <button type="submit" class="btn-success">Email</button>
      </form>
    </div>
    </div>
<section id="container">
  <%= render partial: "/layouts/media" %>
  <input id="place" type="textbox" onkeypress="placeMarker(event)" placeholder="City">
  <div id="map"></div>
 


  <%= render partial: "/layouts/modal" %>

</section>

<script>
  $(document).ready(function(){
    $('#test').on('click', function(event){
      $('#myModal').modal({
          keyboard: true
      })
    });
  });
</script>

