<section id="container">
  <%= render partial: "/layouts/media" %>
  <input id="place" type="textbox" onkeypress="placeMarker(event)" placeholder="City">
  <div id="map"></div>
  <%= render partial: "/layouts/modal" %>
</section>
