<section id="container">
  <div class="frame">
    <button type="button" id="test">Launch modal</button>
  </div>
  <%= render partial: "/layouts/modal" %>
</section>
<script>
  $(document).ready(function(){
    $('#test').on('click', function(event){
      $('#myModal').modal({
          keyboard: true
      })
    });
  });
</script>
