/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min.css
 *= require button-navbar.css
 */

// Modals

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

section {
  height: 100%;
}

#map {
  height: 89%;
  
  img{
    max-width:none
   }
}

#myModal {
  display: none;

  .monkey-fb-images img {
    margin: 9px;
    width: 150px;
    height: 120px;
  }

  aside {
    float: left;

    div {

    }
  }

  article {
    float: right;
    padding-top: 50px;

    .monkey-friends img {
      margin: 3px;
      width: 80px;
      height: 60px;
      float: right;
    }
  }
}

// End of modal

// Map

.brand-bar {
   position: absolute;
   width: 20%;

   .navbar-inner {
     min-height: 72px;
   }
}

.style-bar {
   margin-left: 20%;
   width: 80%;
   height: 11%;
   background-color: black;

  .search-location {
    padding-top: 8px;

    input {
      width: 350px;
      height: 50px;
      color: white;
      font-size: 25px;
      padding-left: 5px;
      background-color: black;
      border: none;
    }

    input:focus {
      outline: none;
    }

    ::-webkit-input-placeholder {
      font-size: 20px;
      padding-left: 10px;
      padding-top: 5px;
      font-family: Gill Sans, Verdana;
      text-transform: uppercase;
      color: gray;
    }

    :-moz-placeholder { /* Firefox 18- */
      font-size: 20px;
      padding-left: 10px;
      padding-top: 5px;
      font-family: Gill Sans, Verdana;
      text-transform: uppercase;
      color: gray;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
      font-size: 20px;
      padding-left: 10px;
      padding-top: 5px;
      font-family: Gill Sans, Verdana;
      text-transform: uppercase;
      color: gray;
    }

    :-ms-input-placeholder {  
      font-size: 20px;
      padding-left: 10px;
      padding-top: 5px;
      font-family: Gill Sans, Verdana;
      text-transform: uppercase;
      color: gray;
    }
  }

}

.footer-email-bar {
  position: fixed;
  width: 100%;
  height: 70px;
  bottom: 0px;

  label {
    font-size: 17px;
    padding-left: 14px;
    margin-bottom: 0px;
  }

  input {
    margin-top: 8px;
    margin-left: 10px;
  }
}

// End of map
