<div class="media">
	<a class="pull-left" href="#"> <img class="media-object" data-src="/assets/friend1.jpg"> </a>
	<div class="media-body">
		<h4 class="media-heading">Media heading</h4>

		<!-- Nested media object -->
		<div class="media">
		</div>
	</div>
</div>