<!-- Modal -->
<div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="myModalLabel2"></h3>
  </div>
  <div class="modal-body">
    <div class="monkey-fb-images">
      <img class="border-image" src="/assets/Atlanta1.jpg" />
      <img class="border-image" src="/assets/Atlanta2.jpg" />
      <img class="border-image" src="/assets/Atlanta3.jpg" />
      <img src="/assets/Atlanta4.jpg" />
    </div>
    <aside>
      <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object" src="/assets/lgaleana.jpg">
              </a>
              <div class="media-body">
                <h4 class="media-heading">Luis Galeana</h4>
                This place is amazing! I never wanna leave.
              </div>
            </div>
            <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object" src="/assets/heaney.jpg">
              </a>
              <div class="media-body">
                <h4 class="media-heading">Samuel Heaney</h4>
                When are you coming back, man? Having a good time?
                <div class="media">
                  <a class="pull-left" href="#">
                    <img class="media-object" src="/assets/lgaleana.jpg">
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">Luis Galeana</h4>
                    Probably in a month. How is everything going?
                  </div>
                </div>
                <div class="media">
                  <a class="pull-left" href="#">
                    <img class="media-object" src="/assets/michel.jpg">
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">Michel Angeles</h4>
                    Dude, I have to go visit soon!
                  </div>
                </div>
              </div>
              </div>

    </aside>
    <article>
    	<p>People</p>
      <div class="monkey-friends">
      	<img src="/assets/friend9.jpg" />
	    <img src="/assets/friend10.jpg" />
	    <img src="/assets/friend11.jpg" />
      </div>
      <p>Places</p>
      <div class="monkey-friends">
      	<img src="/assets/middle_east.jpg" />
      	<img src="/assets/umass.png" />
	    <img src="/assets/baseball.jpg" />
      </div>
    </article>
  </div>
</div>
