<!-- Modal -->
<div id="modalGuadalajara" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header tour_3">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="myModalLabel">guadalajara, mexico</h3>
  </div>
  <div class="modal-body">
    <div class="monkey-fb-images">
      <img class="border-image tour_4" src="/assets/students.jpg" />
      <img class="border-image" src="/assets/gdl1.jpg" />
      <img class="border-image" src="/assets/festival.jpeg" />
      <img src="/assets/gdl4.jpg" />
    </div>
    <aside>
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="/assets/lgaleana.jpg">
        </a>
        <div class="media-body tour_5">
          <h4 class="media-heading">Luis Galeana</h4>
          It's a great day to go for a walk.
        </div>
      </div>
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="/assets/lgaleana.jpg">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Luis Galeana</h4>
          That was probably one of the best dinners I've ever had.
        </div>
        </div>
        <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="/assets/michel.jpg">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Michel Angeles</h4>
          Are you going to the Hackathon next month?
        </div>
        </div>
        <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="/assets/lgaleana.jpg">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Luis Galeana</h4>
          Safe monkey trips to everyone!
        </div>
      </div>

    </aside>
    <article>
    	<p class="tour_6">People</p>
      <div class="monkey-friends">
      	<img src="/assets/coch.jpg" />
	    <img src="/assets/ty.jpg" />
	    <img src="/assets/ka.jpg" />
      </div>
      <p class="tour_7">Places</p>
      <div class="monkey-friends">
      	<img src="/assets/middle_east.jpg" />
      	<img src="/assets/umass.png" />
	    <img src="/assets/baseball.jpg" />
      </div>
    </article>
  </div>
</div>
