<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <div class="monkey-fb-images">
      <img src="/assets/luis_boston2.jpg" />
      <img src="/assets/luis_boston3.jpg" />
      <img src="/assets/luis_boston4.jpg" />
    </div>
    <div>
      <div><h3>Amigos que conociste</h3></div>
      <div class="monkey-friends">
        <img src="/assets/friend1.jpg" />
        <img src="/assets/friend2.jpg" />
        <img src="/assets/friend3.jpg" />
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Volver</button>
  </div>
</div>
