<!DOCTYPE html>
<html>
<head>
  <title>Monkeytrip</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-J2vNmhqJRrtq2snuPNW4xPpk8D6w4es&libraries=places&sensor=false" />
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
